<div style="width: 100%;margin-top: <%-marginTop%>px; margin-bottom: <%-marginBottom%>px; text-align: <%-alignment%>; ">
<%
var ratingValue;
if ( fixedValue ) {
    try {
        ratingValue = value;
    } catch(e) {
        ratingValue = 6;
    }
}
else {
    ratingValue = 4;
}
%>

<% for (i=0; i<ratingValue; i++) { %>
    <i style="margin-right: <%- spacing %>px; color: <%- color %>; font-size: <%- height %>px;" class="<%- icon %>"></i>
<% } %>
</div>