<%#
%>
<h2><%- title %></h2>

<div class="col-lg-12">
    Simple list will output the following fields from your REST service
    <ul>
        <% myDataSrcFields.forEach(item => { %>
        <span>
            Field: <%- item.label %>
        </span>&nbsp;
        <% })%>
    </ul>
</div>

<%#
    we recommend to show an image of the typical representation of the custom view
%>
<!-- TBD: Need a property with path to design time -->
<img src="./templates/views/custom-simple-list-ds/design-time/simpleListDesignTimePreview.png"/>


<hr>
<h4>Output for debugging</h4>

Number of fields from REST: <%- myDataSrcFields.length %>
<br/>
Current directory: <%- dirName %>
<br/>
Directory with data provider metadata: <%- dirName2 %>
<br/>
The end of debugging output
<hr>